body {
  background-color: #f7f7f7;
  color: #40404d;
  font-style: 2em;
  font-weight: normal;
  font-family: sans-serif;
  color: 000;
}


 /* link*/
.a {
  text-decoration: none;
}
/*pseudo link*/
a:link,
a:visited {
    color: #5b5b5b;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}
.left, .right {
  float: left;
  width: 50%;
}

.tab {
  padding-left: 50px;
}

/* Reads "Bloc Links; Alumni, Courses, Contact"*/

nav {
  background-color: black;
  position: fixed;
  width: 100%;
}


/* Reads "Article Titlecase"*/
h1 {
  font-size: 4em;
  line-height: 2em;
  text-transform: capitalize;
}

/*An introduction to this topic*/
h3 {
  color: #3f3f3f;
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
}
.author{
  color: #3f3f3f;
  line-height: 1.5em;
}

/* This is the article as well as author*/
article, .container {
  color: #40404d;
  font-style: normal;
  padding-top: 270px;
}


/*The article itself*/
article {
  font-size: 1em;
  line-height: 1.2em;
  margin: auto;
}

.logo {
  margin: 60px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 40%;
}


.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;

}

.container {
  margin: auto;
  width: 50%;
}
